{% extends 'base.html' %}

{% block title %}

    Lista de Marcas - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Marcas</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'brands:add_brand' %}">Cadastro de nova marca</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descricao</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for brand in brands %}
                        <tr>
                            <th scope="row">{{ brand.id }}</th>
                            <td>{{ brand.name }}</td>
                            <td>{{ brand.description }}</td>
                            <td>
                                <a href="{% url 'brands:edit_brand' brand.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'brands:delete_brand' brand.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}